includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    level: 5

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Parameter \#.* \$.* of method .*::.*\(\) expects .* given.#'
        - '#Call to an undefined method .*::.*\(\)#'
        - '#Access to an undefined property .*::\$[a-zA-Z0-9_]+#'

    noUnnecessaryCollectionCall: true
    reportUnmatchedIgnoredErrors: false

    universalObjectCratesClasses:
        - Illuminate\Support\Collection
        - Illuminate\Database\Eloquent\Collection
        - Illuminate\View\View
        - Illuminate\Http\Request
        - Illuminate\Session\Store

    excludePaths:
        - ./database/migrations/
        - ./storage/
        - ./bootstrap/cache/
        - ./vendor/
        - ./node_modules/
        - ./tests/Unit/ExampleTest.php

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: true
